<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

   <title>Minute Pitch | {{ title }}</title>
</head>
<body>
   <header>
      <nav>
         {% if title == 'Welcome' %}
            <a href="{{ url_for('auth.login')}}"><p class='btn' id='log-in'>Log In</p></a>
         {% endif %}

      </nav>
      {% with messages = get_flashed_messages() %}
         {% if messages %}
            {% for message in messages %}
               <div class="message">
                  {{ message }}
               </div>
            {% endfor %}
         {% endif %}
      {% endwith %}

      {% block content %}

      {% endblock %}

   </header>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
