{% extends 'auth/auth-layout.html' %}
{% block content %}

   <div class="log-in">
      <form method="POST" action="">
         {{ login.hidden_tag() }}
         <fieldset class="fields">
            <div>
               {{ login.username(class='input')}}
            </div>
            <div>
               {{ login.password(class='input')}}
            </div>
         </fieldset>
         <div class='remember'>
            {{ login.remember_me(class='radio')}}
            {{ login.remember_me.label(class='label')}}
         </div>
         <div>
            {{ login.submit(class='btn') }}
         </div>
      </form>
      <div class="others">
         <p>Don't have an account? <a href="{{ url_for('auth.enter')}}">Sign Up</a></p>
      </div>
   </div>

{% endblock %}
